.header {
  height: 100px;
  display: flex;
  // justify-content: space-between;
  flex-direction: row;
  padding: 0 30px;

  &__logo {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-basis: 33.33%;
    justify-content: center;

    img {
      width: 140px;

      @media (max-width: 800px) {
        width: 135px;
      }
      @media (max-width: 750px) {
        width: 130px;
      }
      @media (max-width: 700px) {
        width: 125px;
      }

      @media (max-width: 600px) {
        width: 120px;
      }

      @media (max-width: 500px) {
        width: 115px;
      }

      @media (max-width: 400px) {
        width: 110px;
      }

      @media (max-width: 380px) {
        width: 105px;
      }
    }
  }

  &__search {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-basis: 33.33%;
    justify-content: center;
  }

  &__search--input {
    width: 150px;
    font-size: 15px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #252525;
    text-align: left;
    padding: 4px 5px;

    @media (max-width: 800px) {
      width: 120px;
    }
    @media (max-width: 750px) {
      width: 100px;
    }
    @media (max-width: 700px) {
      width: 90px;
    }

    @media (max-width: 600px) {
      width: 80px;
    }

    @media (max-width: 500px) {
      width: 80px;
    }

    @media (max-width: 400px) {
      width: 75px;
    }

    @media (max-width: 380px) {
      width: 75px;
    }

    &::placeholder {
      color: #252525;
      font-size: 15px;
    }

    &:focus {
      outline: none;
    }
  }

  &__search--btn {
    color: #252525;
    border: none;
    background: none;
    cursor: pointer;
    transform: scale(1.2);

    &:active {
      transform: scale(0.9);
    }
  }

  &__navbar {
    display: flex;
    flex-basis: 33.33%;
    justify-content: center;
    align-items: center;
    color: #252525;





    mat-icon {
      background: none;
      border: none;
      cursor: pointer;
      transform: scale(1.2);
      color: #252525;

      &:active {
        transform: scale(0.9);
      }
    }




    .mat-button {
      font-size: 15px;
      font-weight: 400;
    }
  }

  //   .header__menuBtn {
  //     background: none;
  //     border: none;
  //     cursor: pointer;
  //     color: #252525;
  //     transform: scale(2);

  //     &:active {
  //       transform: scale(1.5);
  //     }
  //   }
  // }

  // .hidden {
  //   display: none;
  //   @media (min-width: 740px) {
  //     display: flex;
  //   }




// mat-drawer-container {
//   display: none;
// }




}


@media (max-width: 1320px) {
  .header__navbar {
      display: none;
  }
}

@media (min-width: 1320px) {
  mat-drawer-container,
  mat-drawer {
      display: none;
  }

  mat-drawer-container {
    display: none !important;
  }
}

mat-drawer {
  width: 32%;
  // height: 100vh;
  // margin: 13px 0 0 0;
  // height: 2000px;
}

mat-drawer-container {
  display: flex;
    flex-basis: 33.33%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: transparent;
}



.drawer {
  background-color: #252525;
  position: fixed;
  height: 100%;
}

// button.mat-focus-indicator.ms-2.mat-icon-button.mat-button-base{
//   margin: 0;
// }
