.footer {
  height: 120px;
  position: static;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
  gap: 20px;

  &__title {
    color: #252525;
    font-weight: 700;
    font-size: 18px;
    font-family: "Montserrat", Sans-serif;

    @media (max-width: 800px) {
      font-size: 16px;
    }
    @media (max-width: 750px) {
      font-size: 15px;
    }
    @media (max-width: 700px) {
      font-size: 14px;
    }

    @media (max-width: 600px) {
      font-size: 13px;
    }

    @media (max-width: 500px) {
      font-size: 12px;
    }

    @media (max-width: 400px) {
      font-size: 10px;
    }

    @media (max-width: 380px) {
      font-size: 9px;
    }
  }

  &__links {
    display: flex;
    gap: 20px;
  }

  &__link {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.1);
    }

    img {
      height: 30px;
    }
  }
}
