.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  background-color: #eee;
  min-height: 76.57%;
  // margin: 0px;

  #carouselExampleIndicators {
    margin: 40px 175px 25px 175px;
    display: flex;
    // align-items: center;
    justify-content: center;
    width: 1150px;
    height: 510px;
    @media (max-width: 1500px) {
      width: 1100px;
      height: 480px;
    }
    @media (max-width: 1400px) {
      width: 1050px;
      height: 460px;
    }
    @media (max-width: 1300px) {
      width: 950px;
      height: 410px;
    }
    @media (max-width: 1200px) {
      width: 850px;
      height: 380px;
    }
    @media (max-width: 1100px) {
      width: 800px;
      height: 360px;
    }
    @media (max-width: 1000px) {
      width: 750px;
      height: 310px;
    }
    @media (max-width: 900px) {
      width: 650px;
      height: 280px;
    }
    @media (max-width: 800px) {
      width: 570px;
      height: 250px;
    }
    @media (max-width: 700px) {
      width: 490px;
      height: 220px;
    }
    @media (max-width: 600px) {
      width: 440px;
      height: 200px;
    }
    @media (max-width: 500px) {
      width: 400px;
      height: 190px;
    }
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-color: #252525;
    background-size: 25px;
    border-radius: 50%;
  }

  .card {
    display: flex;
    justify-content: center;
  }

  .btn-check:focus + .btn,
  .btn:focus {
    box-shadow: none;
  }

  .btn {
    background-color: rgba(0, 0, 0, 0.6);
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .active {
    background-color: #252525;
    button:focus {
      outline: 0;
    }
  }

  .card {
    margin: 40px 175px 25px 175px;
  }



  .infobar{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #252525;
    margin: 80px;

    .info {
      display: flex;
      flex-direction: row;
      text-align: left;
      justify-content: center;
      align-items: center;
      padding: 0 70px;


      mat-icon{
        padding: 0 70px 0px 0;
        font-size: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        width: 50px;
        height: 50px;
      }

      .text-column {
        display: flex;
        flex-direction: column;

        .info-title {
          margin: 0 0 0 0;
        }

        .info-p{
          margin: 0 0 0 0;
        }
      }
    }
  }
}



