.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  background-color: #eee;
  min-height: 76.57%;
  // margin: 0px;

  #carouselExampleIndicators {
    margin: 40px 175px 25px 175px;
    display: flex;
    // align-items: center;
    justify-content: center;
    width: 1150px;
    height: 510px;
    @media (max-width: 1500px) {
      width: 1100px;
      height: 480px;
    }
    @media (max-width: 1400px) {
      width: 1050px;
      height: 460px;
    }
    @media (max-width: 1300px) {
      width: 950px;
      height: 410px;
    }
    @media (max-width: 1200px) {
      width: 850px;
      height: 380px;
    }
    @media (max-width: 1100px) {
      width: 800px;
      height: 360px;
    }
    @media (max-width: 1000px) {
      width: 750px;
      height: 310px;
    }
    @media (max-width: 900px) {
      width: 650px;
      height: 280px;
    }
    @media (max-width: 800px) {
      width: 570px;
      height: 250px;
    }
    @media (max-width: 700px) {
      width: 490px;
      height: 220px;
    }
    @media (max-width: 600px) {
      width: 440px;
      height: 200px;
    }
    @media (max-width: 500px) {
      width: 400px;
      height: 190px;
    }
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-color: #252525;
    background-size: 25px;
    border-radius: 50%;
  }

  .card {
    display: flex;
    justify-content: center;
  }

  .btn-check:focus + .btn,
  .btn:focus {
    box-shadow: none;
  }

  .btn {
    background-color: rgba(0, 0, 0, 0.6);
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .active {
    background-color: #252525;
    button:focus {
      outline: 0;
    }
  }

  .card {
    margin: 40px 175px 25px 175px;
  }



  @media (max-width: 1400px) {
    .infobar{
      padding: 0 30px;
    }
  }

  @media (max-width: 900px) {
    .infobar{
      flex-wrap: wrap;
      gap: 50px;
      align-items: center;
      // justify-content: center;
      margin: auto;
      justify-content: center;
      // padding: 0 60px
    }

    p.divider {
      display: none!important;
    }
.info {
  width: 350px;
}


  }

  .infobar{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #252525;
    margin: 80px;

    .divider {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      display: flex;
     justify-content: center;
     align-items: center;
     margin: auto;
      width: 25px;
      height: 5px;
      // height: 20px;
      font-weight: 500;
      transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
    }

    .info {
      display: flex;
      flex-direction: row;
      text-align: left;
      justify-content: center;
      align-items: center;
      padding: 0 60px;



      mat-icon{
        padding: 0 70px 0px 0;
        font-size: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        width: 50px;
        height: 50px;
      }

      .text-column {
        display: flex;
        flex-direction: column;

        .info-title {
          margin: 0 0 0 0;
          font-weight: 500;
        }

        .info-p{
          margin: 0 0 0 0;
        }
      }
    }
  }





  @media (max-width: 1485px) {


    img.img {
    width: 360px !important;
    height: 360px !important;
    }

    .photo{
      width: 360px !important;
      height: 360px !important;
    }
    }


    @media (max-width: 1395px) {


      img.img {
      width: 340px !important;
      height: 340px !important;
      }

      .photo {
        width: 340px !important;
        height: 340px !important;
        }
      }

      @media (max-width: 1295px) {
        img.img {
        width: 305px !important;
        height: 305px !important;
        }

        .photo {
          width: 305px !important;
          height: 305px !important;
          }
        }

        @media (max-width: 1195px) {
          img.img {
          width: 275px !important;
          height: 275px !important;
          }

          .photo {
            width: 275px !important;
            height: 275px !important;
            }
          }

          @media (max-width: 1095px) {
            img.img {
            width: 255px !important;
            height: 255px !important;
            }

            .photo {
              width: 255px !important;
              height: 255px !important;
              }
            }

            @media (max-width: 995px) {
              img.img {
              width: 235px !important;
              height: 235px !important;
              }

              .photo {
                width: 235px !important;
                height: 235px !important;
                }
              }

              @media (max-width: 995px) {

 .photo-sections {
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 75px 75px 75px;
    }

                img.img {
                width: 235px !important;
                height: 235px !important;

                }
                }


  .photo-sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 0 0 40px 0;

    .img {
      display: flex;
      width: 380px;
    height: 380px;
    cursor: pointer;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;

    }

    .img:hover {
      -webkit-transform:scale(1.1);
      transform:scale(1.1);

    }



.photo {
  position: relative;
  width: 380px;
    height: 380px;
    overflow:hidden;
}



    .photo-title {
      z-index: 1;
      position: absolute;
      justify-content: center;
      align-items: center;
      // margin: auto;
      margin: 100px 20px;
      padding: 10px 15px;
      background-color: #252525;
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      font-family: "Montserrat", Sans-serif;
      cursor: pointer;
      transition: background-color 0.4s ease;
    }

    .photo-title:hover {
      background-color:#474747e8;
    }


.sale {
 transition: background-color 0.4s ease;
}

    .sale:hover {
      background-color:#f44336e8;
    }
  }




}



