<div class="background">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active btn"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        class="btn"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        class="btn"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>

      <button
        type="button"
        class="btn"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="./../../../../../assets/img/carousel1.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="./../../../../../assets/img/carousel2.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="./../../../../../assets/img/carousel3.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="./../../../../../assets/img/carousel4.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




<div class="infobar">

  <div class="info">
    <mat-icon>local_shipping</mat-icon>
    <div class="text-column">
    <h3 class="info-title">ENVÍOS A TODO EL PAÍS</h3>
    <p class="info-p">Envíos a todo el país</p>
  </div>
  </div>

  <p class="divider">________</p>

  <div class="info">
    <mat-icon>attach_money</mat-icon>
    <div class="text-column">
    <h3 class="info-title">10% OFF</h3>
    <p class="info-p">Pago en Efectivo en Showroom</p>
    </div>
  </div>

  <p class="divider">________</p>

<div class="info">
  <mat-icon>payments</mat-icon>
  <div class="text-column">
  <h3 class="info-title">TARJETA O EFECTIVO</h3>
  <p class="info-p">Averigua tu mejor opción</p>
  </div>
</div>

</div>



<div class="photo-sections">

  <div class="photo">
    <a routerLink="/productos"><h4 class="photo-title">Plantas</h4></a>
    <a routerLink="/productos"><img class="img" src="../../../../../assets/img/redirect1.jpg" alt=""></a>
  </div>

<div class="photo">
  <a routerLink="/productos"><h4 class="photo-title">Decoracion</h4></a>
  <a routerLink="/productos"><img class="img" src="../../../../../assets/img/redirect2.jpg" alt=""></a>
</div>

<div class="photo">
  <a routerLink="/productos"><h4 class="photo-title sale">Sale</h4></a>
  <a routerLink="/productos"><img class="img" src="../../../../../assets/img/redirect3.jpg" alt=""></a>
</div>

</div>








</div>


